/EmployeeManagementWeb/nbproject/private/
/EmployeeManagementWeb/build/
/NotePad/nbproject/private/
/NotePad/build/
/NotePad/dist/
/TestUDP/nbproject/private/
/TestUDP/build/
/CustomTag/nbproject/private/
/CustomTag/build/
/PuzzleGame/nbproject/private/
/PuzzleGame/build/
/PuzzleGame/dist/
/LoginAuthenication-Filter-JavaWeb/nbproject/private/
/LoginAuthenication-Filter-JavaWeb/build/
/PT2-Anh/nbproject/private/
/PT2-Anh/build/
/Struts/nbproject/private/
/Struts/build/
/JavaWeb_Prepare/nbproject/private/
/JavaWeb_Prepare/build/
/Scratch_Code_JavaWeb/build/
/JavaLibrary1/nbproject/private/
/JavaApplication5/nbproject/private/